* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: var(--bg-color);
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --bg-color: #f5f7fa;
  --board-color: #000;
  --mark-color: #000;
  --hole-color: white;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--board-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::after,
.cell.x::before,
.cell.o::before {
  background-color: var(--mark-color);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgray;
}

.cell.x::after,
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(45deg);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(-45deg);
}

.cell.o::after,
.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: var(--hole-color);
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  flex-direction: column;
  color: white;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

.theme-toggle {
  position: fixed;
  left: 50%;
  top: 1%;
  transform: translate(-50%, 0);
  font-size: 1.5rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.1em 0.75em;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.theme-toggle:hover {
  background-color: black;
  color: white;
  border-color: white;
}

/* dark mode*/
body.dark {
  --bg-color: #0f172a;
  --board-color: lightgray;
  --mark-color: white;
  --hole-color: black;
}
